---
title: Cholet Avocat
---


<h1>
  Antonin Cholet Avocat <br>
  Site internet en construction
</h1>
<%= tag :img, :src => "/images/logoantonincholetavocat.png", :alt => "Logo Antonin Cholet Avocat", :class => "logo"%>
<br>
<%= link_to(
  "website actuel",
  "https://www.cholet-avocat.fr",
  target: "_blank"
) %>
