---
title: Cholet Avocat
---


<h1>
  Antonin Cholet Avocat <br>
  Site internet en construction
</h1>
<%= tag :img, :src => data.settings.site.logo %>

<%= link_to(
  "website actuel",
  "https://www.cholet-avocat.fr",
  target: "_blank"
) %>
